* {
  margin: 0;
  padding: 0;
  font-family: "Merriweather", serif;
}

body {
  text-align: center;
}

h1 {
  font-size: 5.625rem;
  margin-top: 30px;
  color: #66bfbf;
  font-family: "Sacramento", cursive;
}
h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  color: #66bfbf;
  font-weight: normal;
  line-height: 2;
}
h3 {
  font-family: "Montserrat", sans-serif;
  color: #11999e;
}

div.top {
  background-color: #e4f9f5;
  position: relative;
  padding-top: 60px;
}
.park {
  margin-top: 130px;
}
p {
  margin-top: 15px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}
.bottom-cloud {
  position: absolute;
  top: 350px;
  left: 350px;
}
a {
  color: #11999e;
}
.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}
.code {
  float: left;
  padding: 30px;
}
.edit {
  float: right;
  padding: 30px;
}
