* {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
}

h1 {
  margin-top: 30px;
}

div.top {
  background-color: #e4f9f5;
  position: relative;
  padding-top: 60px;
}
.park {
  margin-top: 130px;
}
p {
  margin-top: 15px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}
.bottom-cloud {
  position: absolute;
  top: 200px;
  left: 350px;
}
